body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100%;
    grid-template-areas: 
        "sidebar content";
}

.sidebar {
    grid-area: sidebar;
    min-height: 100vh; 
    background-color: salmon;
    border: 2px solid red;
}

.content {
    grid-area: content;
    min-height: 100vh; 
    background-color: rgb(246, 243, 237);
}

.maradroga {
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
}