body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "sidebar content";
}

.sidebar {
    grid-area: sidebar;
    height: 100vh;
    background-color: #C0C0C0;
}

.content {
    grid-area: content;
    height: 100vh;
}