.menu {
    padding: 10px;
    cursor: pointer;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid red;
  }
  
  .menu-icon {
    margin-right: 10px;
  }
  .sub-menu {
    display: none; 
    flex-direction: column; /* Muestra los submenús en columnas */
    background-color: rgb(246, 243, 237); /* Fondo del submenú */
    position: relative; /* Posición relativa para no superponer los submenús */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para resaltar el submenú */
    padding-left: 20px;
  }
  
  .sub-menu-item {
    display: flex;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 8px; /* Añade un espacio interno al submenú item */
  }
  
  .sub-menu.show {
    display: flex;
  }
  
  .rotate-arrow {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
  }
  .arrow{
    margin-left: auto;
    transition: transform 0.3s ease;
  }
  
  .sub-menu-item:hover {
    background-color: rgb(84, 156, 228);
    color: white; /* Cambia el color de fondo al pasar el ratón */
  }

  button {
    border-radius: 10px 20px 10px 20px;
  }

  



  .codebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px dotted black;
    gap: 1rem;
  }
  code {
    align-self: flex-start;
  }



